body {
  font-family: "Arimo", sans-serif;
  color: var(--grayDark) !important;
}
#line {
  width: 51px;
  height: 3px;
  margin-bottom: 5px;
  box-shadow: 0 1px 5px 1px #3434ff;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--grayDark) !important;
  text-decoration: none;
}
.link_footer{
  color: var(--grayMiddle) !important;
  font-size: 16px;
}
.button-type-active{
  color: var(--graysLight) !important;
  background-color: var(--basePrimary) !important;
}
.button-type-disable{
  color: var(--graysLight) !important;
  background-color: var(--grayDark) !important;
}
:root {
  /* colores fondo primarios */
  --graysLight: #edf2f7;
  --grayUltraLight: #e5e5e5;
  --grayMiddle: #D5D5D5;
  --grayDark: #262626;
  --basePrimary: #3434ff;
}
