body {
  font-family: "Arimo", sans-serif;
}
#hr {
  position: absolute;
  border: 0;
  margin-bottom: 5px;
  height: 2px;
  width: 50px;
  left: 652px;
  top: 120px;
  box-shadow: 0 1px 5px 1px #3434ff;
  text-align: center;
}

a {
  text-decoration: none;
}