body {
  font-family: "Arimo", sans-serif !important;
  color: var(--grayDark) !important;
}
#line {
  width: 51px;
  height: 3px;
  margin-bottom: 5px;
  box-shadow: 0 1px 5px 1px #3434ff;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: var(--grayDark) !important;
  text-decoration: none;
}
.link_footer{
  color: var(--grayMiddle) !important;
  font-size: 16px;
}
.button-type-active{
  margin-bottom: 200px;
  color: var(--graysLight) !important;
  background-color: var(--basePrimary) !important;
}
.button-type-disable{
  margin-bottom: 200px;
  color: var(--graysLight) !important;
  background-color: var(--grayDark) !important;
}
.textCard{
  margin-right: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end !important;
  font-size: 20px;
  font-weight: bold;
  color: var(--baseThird);
}
.filter{
  height: 65px !important;
  background-color: var(--baseSecondary)!important;
}
.textDetailTitle{
  color: var(--blueAccent2);
}
.textDetail{
  font-style: italic;
  color: var(--blueAccent2);
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.textDescription{
  color: var(--grayDark);
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.textTitle{
  color: var(--grayDark);
}
.container-fluid{
  display: flex;
  flex-direction: row;
}
:root {
  /* colores fondo primarios */
  --graysLight: #edf2f7;
  --grayUltraLight: #e5e5e5;
  --grayMiddle: #D5D5D5;
  --grayDark: #262626;
  --basePrimary: #3434ff;
  --baseSecondary: #a0c4ff;
  --baseThird: #7C4DFF;
  --blueAccent2: #448aff;
}
